body {
  background: linear-gradient(to right, #4F86F7, #3A66CA); /* Blue gradient */
  font-family: 'Roboto', Arial, sans-serif; /* Updated font-family */
  font-size: 24px;
  color: #fff; /* White text */
}

nav {
  background-color: #5D9BEB; /* Light blue */
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

section:first-child {
  margin-top: 90px;
}

section {
  background-color: #E6F7FF; /* Very light blue */
  padding: 22px;
  max-width: 950px;
  margin: 20px auto;
  border-radius: 8px;
}

h1, h2, h3, p, ul, li, ol, dt, dd {
  text-align: center;
  color: #333; /* Darker text color */
  font-size: 1rem;
}

a {
  color: #4577B4; /* Darker blue for links */
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

ol li {
  text-align: center;
}

img, iframe {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  height: auto;
}
