body {
  background: linear-gradient(to right, #3498DB, #007BFF); /* Blue gradient */
  font-family: 'Arial', sans-serif; /* Changed font family */
  font-size: 24px;
}

nav {
  background-color: #3498DB; /* Blue */
  color: #fff; /* White text */
  font-family: 'Arial', sans-serif; /* Changed font family */
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

section:first-child {
  margin-top: 90px;
}

section {
  background-color: #EAF2F8; /* Light blue */
  padding: 22px;
  max-width: 950px;
  margin: 20px auto;
  border-radius: 8px;
}

h1, h2, h3, p, ul, li, ol, dt, dd {
  text-align: center;
  color: #333; /* Dark gray */
  font-size: 1rem;
}

a {
  color: #3498DB; /* Blue */
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

ol li {
  text-align: center;
}

img, iframe {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  height: auto;
}
